@charset "UTF-8";
@font-face {
    font-family: "idroid";
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');
:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrão: Arial, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'idroid', cursive;
}
* {
    margin: 0;
}
body {
    font-family:var(--font-padrão);
    background-color: var(--cor0);
}
header {
    font-family: var(--font-destaque);
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    min-width: 400px;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
header h1 {
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.479);
    font-weight: normal;
}
header  p {
    font-weight: normal;
    font-size: 1.2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.479);
    max-width: 500px;
    margin: auto;
    padding-right: 20px;
}
header nav {
    text-align: left;
}
nav  a {
    color: #ffffff;
    padding-right: 30px;
    font-weight: bold;
    transition: 0.1s;
}
nav a:hover {
    background-color: var(--cor1);
    padding: 5px 30px 5px 5px;
    border-radius: 5px;
}
a {
    text-decoration: none;
    color: var(--cor4);
    font-weight: bolder;
}
a strong::after {
    content: '\00A0\1F517';
}
main p {
    text-align: justify;
    text-indent: 40px;
    padding: 10px;
    line-height: 1.8em;
}
main {
    background-color: #ffffff;
    max-width: 1000px;
    min-width: 350px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
    border-radius: 0px 0px 5px 5px;
}
a strong {
    background-color: var(--cor1);
}
footer{
    background-color: var(--cor5);
    color: #ffffff;
}
footer p {
    text-align: center;
}
article h1, h2 {
    font-family: var(--font-android);
    color:var(--cor5) ;
    font-weight: normal;
}
h1 {
    font-size: 2em;
    padding: 10px;
}
h2 {
    background-image: linear-gradient(to right,var(--cor2), #ffffff );
    padding: 3px 3px 3px 15px;
    font-size: 1.7em;
}
h3 {
    background-color: var(--cor4);
    color: #ffffff;
    padding: 8px;
    border-radius: 5px 5px 0px 0px;
}
img {
    width: 100%;
}
strong {
    color: var(--cor4);
}
img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}
div.video {
    padding: 20px;
    background-color: var(--cor5);
    margin: 0px -20px 20px -20px;
    padding-bottom: 56.5%;
    position: relative;
}
div.video iframe {
 position: absolute;
 top: 5%;
 left: 5%; 
 width: 90%;
 height: 90%;
}
aside {
    background-color: var(--cor1);
    border-radius: 0px 0px 5px 5px;
    margin: 0px 15px 15px 15px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.445);
}
aside ul {
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
}
